body {
  background-color: #262626;
  text-align: center;
}

h1 {
  color: #8c8c8c;
  text-align: center;
}

p {
  color: #8c8c8c;
  text-align: center;
}

textarea {
  background-color: #a6a6a6;
}

#submitButton {
  background-color: #a6a6a6;
}

#resultP {
  display: inline-block;
  width: 35%;
  text-align: center;
}

#settings {
  border: solid 1px white;
  display: inline-block;
  width: 40%;
}

#settingsP {
  text-decoration: underline;
  font-weight: bold;
}

.light-mode-body {
  background-color: white;
}
